<a href="https://colab.research.google.com/github/lemonxcola/datasci/blob/Files-folder/Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Industry Migration")
df.head(10)

  country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0           ae  United Arab Emirates  ...            68.51            49.55
1           ae  United Arab Emirates  ...           149.57           182.22
2           ae  United Arab Emirates  ...           409.18           407.41
3           ae  United Arab Emirates  ...           236.69           188.07
4           ae  United Arab Emirates  ...           852.39           519.40
5           ae  United Arab Emirates  ...           283.59           281.91
6           ae  United Arab Emirates  ...           356.56           147.83
7           ae  United Arab Emirates  ...           475.62           255.21
8           ae  United Arab Emirates  ...           574.60           406.03
9           ae  United Arab Emirates  ...           205.78           513.23

[10 rows x 13 columns]

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [22]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Industry Migration")
df[['industry_name','country_name']].head(50)

                industry_name          country_name
0             Defense & Space  United Arab Emirates
1           Computer Hardware  United Arab Emirates
2           Computer Software  United Arab Emirates
3         Computer Networking  United Arab Emirates
4                    Internet  United Arab Emirates
5          Telecommunications  United Arab Emirates
6                Law Practice  United Arab Emirates
7              Legal Services  United Arab Emirates
8       Management Consulting  United Arab Emirates
9               Biotechnology  United Arab Emirates
10           Medical Practice  United Arab Emirates
11     Hospital & Health Care  United Arab Emirates
12            Pharmaceuticals  United Arab Emirates
13             Medical Device  United Arab Emirates
14                  Cosmetics  United Arab Emirates
15          Apparel & Fashion  United Arab Emirates
16             Sporting Goods  United Arab Emirates
17                    Tobacco  United Arab Emirates
18               Supermarkets  United Arab Emirates
19            Food Production  United Arab Emirates
20       Consumer Electronics  United Arab Emirates
21             Consumer Goods  United Arab Emirates
22                  Furniture  United Arab Emirates
23                     Retail  United Arab Emirates
24              Entertainment  United Arab Emirates
25  Leisure, Travel & Tourism  United Arab Emirates
26                Hospitality  United Arab Emirates
27                Restaurants  United Arab Emirates
28                     Sports  United Arab Emirates
29           Food & Beverages  United Arab Emirates
30     Motion Pictures & Film  United Arab Emirates
31            Broadcast Media  United Arab Emirates
32                    Banking  United Arab Emirates
33                  Insurance  United Arab Emirates
34         Financial Services  United Arab Emirates
35                Real Estate  United Arab Emirates
36         Investment Banking  United Arab Emirates
37      Investment Management  United Arab Emirates
38                 Accounting  United Arab Emirates
39               Construction  United Arab Emirates
40         Building Materials  United Arab Emirates
41    Architecture & Planning  United Arab Emirates
42          Civil Engineering  United Arab Emirates
43       Aviation & Aerospace  United Arab Emirates
44                 Automotive  United Arab Emirates
45                  Chemicals  United Arab Emirates
46                  Machinery  United Arab Emirates
47            Mining & Metals  United Arab Emirates
48               Oil & Energy  United Arab Emirates
49               Shipbuilding  United Arab Emirates

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [34]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Industry Migration")
df[['country_name','net_per_10K_2015','net_per_10K_2016','net_per_10K_2017','net_per_10K_2018','net_per_10K_2019']].iloc[2617:2637]

     country_name  net_per_10K_2015  ...  net_per_10K_2018  net_per_10K_2019
2617        India            -83.57  ...           -105.18           -143.15
2618        India            -39.76  ...           -206.09           -133.40
2619        India              3.52  ...            -23.07            -23.91
2620        India            -45.61  ...            -65.72            -58.98
2621        India             14.60  ...            -65.35           -118.53
2622        India            -40.13  ...            -30.19            -55.32
2623        India            -14.75  ...            -58.65            -87.70
2624        India             21.76  ...            -43.79            -45.98
2625        India            -98.87  ...           -111.92           -129.46
2626        India           -195.63  ...           -105.15           -102.34
2627        India            -15.09  ...            -94.29           -119.87
2628        India            -84.14  ...           -129.53           -177.70
2629        India            -21.72  ...            -67.84            -76.98
2630        India              4.67  ...            -54.71            -99.81
2631        India             -4.85  ...            -43.58            -51.71
2632        India            -40.94  ...            -38.12            -48.09
2633        India            -22.04  ...            -48.68            -49.29
2634        India            -51.26  ...            -59.46            -56.25
2635        India           -134.33  ...            -17.13            -74.85
2636        India             14.59  ...           -122.52           -180.59

[20 rows x 6 columns]

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [31]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Country Migration")
df[['base_country_name','target_country_name','net_per_10K_2015','net_per_10K_2016','net_per_10K_2017','net_per_10K_2018','net_per_10K_2019']].head(10)

      base_country_name target_country_name  ...  net_per_10K_2018  net_per_10K_2019
0  United Arab Emirates         Afghanistan  ...             -0.05             -0.02
1  United Arab Emirates             Algeria  ...              0.55              0.78
2  United Arab Emirates              Angola  ...             -0.02             -0.06
3  United Arab Emirates           Argentina  ...              0.01              0.23
4  United Arab Emirates             Armenia  ...             -0.01              0.02
5  United Arab Emirates           Australia  ...             -4.58             -4.09
6  United Arab Emirates             Austria  ...             -0.05             -0.16
7  United Arab Emirates          Azerbaijan  ...              0.05              0.04
8  United Arab Emirates             Bahrain  ...             -0.07              0.15
9  United Arab Emirates          Bangladesh  ...             -0.18             -0.04

[10 rows x 7 columns]

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [38]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Country Migration")
print(df['base_country_name'].unique())

['United Arab Emirates' 'Afghanistan' 'Albania' 'Armenia' 'Angola'
 'Argentina' 'Austria' 'Australia' 'Azerbaijan' 'Bosnia and Herzegovina'
 'Bangladesh' 'Belgium' 'Burkina Faso' 'Bulgaria' 'Bahrain' 'Benin'
 'Bolivia' 'Brazil' 'Bahamas, The' 'Botswana' 'Belarus' 'Canada'
 'Congo, Dem. Rep.' 'Switzerland' "Cote d'Ivoire" 'Chile' 'Cameroon'
 'China' 'Colombia' 'Costa Rica' 'Cuba' 'Cyprus' 'Czech Republic'
 'Germany' 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador' 'Estonia'
 'Egypt, Arab Rep.' 'Spain' 'Ethiopia' 'Finland' 'Fiji' 'France' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Greece' 'Guatemala'
 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia'
 'Ireland' 'Israel' 'India' 'Iraq' 'Iran, Islamic Rep.' 'Iceland' 'Italy'
 'Jamaica' 'Jordan' 'Japan' 'Kenya' 'Cambodia' 'Korea, Rep.' 'Kuwait'
 'Kazakhstan' 'Lebanon' 'Sri Lanka' 'Lithuania' 'Luxembourg' 'Latvia'
 'Libya' 'Morocco' 'Moldova' 'Madagascar' 'Macedonia, FYR' 'Mali'
 'Myanmar' 'Mongolia' 'Malta' 'Mauritius' 'Malawi' 'Mexico' 'Malaysia'
 'Mozambique' 'Namibia' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway'
 'Nepal' 'New Zealand' 'Oman' 'Panama' 'Peru' 'Papua New Guinea'
 'Philippines' 'Pakistan' 'Poland' 'Puerto Rico' 'West Bank and Gaza'
 'Portugal' 'Paraguay' 'Qatar' 'Romania' 'Serbia' 'Rwanda' 'Saudi Arabia'
 'Sudan' 'Sweden' 'Singapore' 'Slovenia' 'Slovak Republic' 'Senegal'
 'El Salvador' 'Syrian Arab Republic' 'Togo' 'Thailand' 'Tunisia' 'Turkey'
 'Trinidad and Tobago' 'Taiwan, China' 'Tanzania' 'Ukraine' 'Uganda'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela, RB' 'Vietnam'
 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [48]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Country Migration")
print(df['base_country_name'].nunique())

140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name="Skill Migration")
print([df.head(10)] + [df.tail(10)] + [df.index(500:600)] + [df['base_country_name'].nunique())] +  [df['skill_group_category'].unique())] +[df.]

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*